//head tag and metatags

block title
  meta(charset='UTF-8')
  title CodeSource
block meta
  meta(name='author', content='ar-to')
  meta(name='description', content='Codesource front-end reference')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
block link
  link(type='stylesheets', href='https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css')
  link(rel='stylesheet', type='text/css', href='../css/prism.css')
  link(rel='stylesheet', type='text/css', href='../css/mangree.css')
  link(rel='stylesheet', type='text/css', href='../css/main.css')
